@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secandary: #FBBF24;
  --font-playFair: "Playfair", serif;
}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-16 lg:px-24 xl:px-32;
  }
}

body {
  font-family: "Outfit", sans-serif;
}

